{% include 'admin_header.html' %}

 <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative" style="height: 500px">
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(/static/assets/img/slide-1.jpg);height: 500px">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 style="color: white;font-size: 70px">View Prediction</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div><!-- End Intro Section -->
  
	<br>
			<center>
			<h2>Feedback</h2>
			<table class="table" style="width: 400px">
				<tr>
					<th>Sl.no</th>
					<th>	</th>
					<th>Prediction</th>
					<th>Date</th>
				</tr>
				{% for row in data['tech'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td><img src="/{{row['file']}}"   width="100"  height="100"></td>
					<td>{{row['out']}}</td>
					<td>	{{row['date']}}</td>
				</tr>
				{% endfor %}
			</table>

		</center>
	</form>
{% include'footer.html' %}
