{% include 'public_header.html' %}
         
 <div class="intro intro-carousel swiper position-relative">

  <!--   <div class="swiper-wrapper"> -->

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(/static/assets/img/slide-1.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                           		<form method="post">
		<center>
			<h2 style="color: white">LOGIN</h2>
			<table class="table" style="width: 500px;color: white">
				<tr>
					<th>Username</th>
					<td><input type="text" name="uname" class="form-control" required></td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" name="pwd" class="form-control" required></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="submit" value="LOGIN" class="btn btn-danger"></td>
				</tr>
			</table>
		</center>
	</form>
								

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   <!--   </div> -->
   <!--  <div class="swiper-pagination"></div> -->
  </div>        

    
				
					

	
{% include'footer.html' %}